# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# App
PORT=3000
NODE_ENV=development

# App
BASE_URL=http://localhost:3000

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_TTL=

# AI - Google Gemini
GEMINI_API_KEY=your-gemini-api-key-here
GEMINI_MODEL=gemini-flash-lite-latest

# OpenTelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318